<a href="https://colab.research.google.com/github/ngyzy/My_First_Repo/blob/main/Class7_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Data Cleaning
import pandas as pd
import numpy as np

#Create a Sample DataFrame
data = {'Name': ['John', 'Anna', np.nan, 'Peter'],
        'Age': [28, 24, 35, np.nan]}
df = pd.DataFrame(data)
print(df.isnull())

    Name    Age
0  False  False
1  False  False
2   True  False
3  False   True

In [4]:
#Dropping Nulls
#Drop rows with null values
df_dropped=df.dropna()
print(df_dropped)

   Name   Age
0  John  28.0
1  Anna  24.0

In [5]:
#Filling Nulls
#Fill null values with specific value
df_filled=df.fillna("Unknown")
print(df_filled)

      Name      Age
0     John     28.0
1     Anna     24.0
2  Unknown     35.0
3    Peter  Unknown

In [7]:
#Outliers
#Detecting Outliers using IQR (Interquartile Range)
#Create a sample DataFrame
data= {'Score':[85, 90, 78, 92, 88, 76, 95, 89, 1000]}
df=pd.DataFrame(data)

#Calculate Q1 and Q3
Q1 = df['Score'].quantile(0.25)
Q3 = df['Score'].quantile(0.75)

#Calculate IQR
IQR = Q3 - Q1

#Detect Outliers
outliers = df[(df['Score'] < Q1 - 1.5 * IQR) | (df['Score'] > Q3 + 1.5 * IQR)]
print(outliers)

   Score
8   1000

In [19]:
import pandas as pd
#Load Covid 19 data
url=("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
df=pd.read_csv(url)
#Clean data
df = df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='Date', value_name='Confirmed Cases')
df['Date'] = pd.to_datetime(df['Date'])

#Grouping data
df_grouped=df.groupby(['Country/Region', pd.Grouper(key='Date', freq='1M')])['Confirmed Cases'].sum().reset_index()

#Display first few rows
print(df_grouped.head())

  Country/Region       Date  Confirmed Cases
0    Afghanistan 2020-01-31                0
1    Afghanistan 2020-02-29               30
2    Afghanistan 2020-03-31             1141
3    Afghanistan 2020-04-30            25152
4    Afghanistan 2020-05-31           222720

/tmp/ipython-input-19-3199912339.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])
/tmp/ipython-input-19-3199912339.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df_grouped=df.groupby(['Country/Region', pd.Grouper(key='Date', freq='1M')])['Confirmed Cases'].sum().reset_index()